<h1>Movie search engine</h1>
<p>From the Open Movie Database API</p>
<form action="/results" method="GET">
  <input type="text" name="newSearch" placeholder="movie">
  <button>Search for a movie!</button>
</form>
